PUBLIC_ORIGIN=https://table.example.com
APP_PORT=3001
HOST_KEY_PATH=./secrets/host_key.txt
MAX_ROOMS=100
ROOM_TTL_HOURS=48
# Add the exact HTTPS asset hosts used by your mod, separated by commas.
ASSET_HOSTS=steamusercontent.com,*.steamusercontent.com,steamusercontent-a.akamaihd.net,i.imgur.com,raw.githubusercontent.com
# For a reverse proxy running in Docker:
PROXY_NETWORK=edge
GAME_DOMAIN=table.example.com
TRAEFIK_ENTRYPOINT=websecure
TRAEFIK_CERTRESOLVER=letsencrypt
